body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    box-sizing: border-box;
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.text {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/* 
*   LOGO STYLES
*/
.logo {
    width: 125px;
}
.bar {
    display: none;
}
/* 
*   NAVIGATION STYLES
*/
nav {
    background-color: #232323;
}
.nav {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-around;
}
.nav-items li {
    display: inline;
    margin-right: 60px;
}
.nav-items li a {
    color: #fff;
    padding-bottom: 7px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.nav-items li a:after {
    bottom: -2px;
    content: '';
    height: 2px;
    left: 50%;
    position: absolute;
    background: #679cd3;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-items li a:hover:after {
    width: 100%;
    left: 0;
}

.nav-items li .active {
    border-bottom: 2px solid #679cd3;
}

/* 
*   HEADER STYLES
*/
.header {
    color: #fff;
    background: #232323;
    padding: 40px 0 60px 0;
}
.header-inner {
    width: 500px;
    margin: 0 auto;
}
.header-inner h1 {
    margin-bottom: 10px;
}
.hero {
    color: #fff;
    background: #232323;
    padding: 0 0 60px 0;
    margin-top: 0;
}
.hero-inner {
    text-transform: uppercase;
    background: rgba(48, 48, 48, 0.7);
    width: 100%;
    height: 88vh;
    margin-top: 0;
    padding-top: 20vh;
}
.hero-inner h1,
.hero-inner h2 {
    text-align: center;
}

/* 
*   HOME PAGE STYLES
*/
.background {
    background-color: rgba(48, 48, 48, 0.5);
}
.section-flex {
    max-width: 1800px;
    margin: 0 auto;
    color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    line-height: 1.5;
}
.section-flex .section-content {
    width: 47%;
    background: rgba(35, 35, 35, 0.7);
    padding: 1.6rem;
}
.section-flex .section-img {
    width: 47%;
}
.section-flex .section-img img {
    width: 100%;
}
.section-flex div h2 {
    font-size: 2rem;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}
.section-flex div h2::before {
    content: '';
    position: absolute;
    width: 30%;
    height: 1px;
    bottom: 0;
    border-bottom: 2px solid #679cd3;
}
.section-flex div p {
    margin-bottom: 0.5rem;
}
.homepage-link {
    font-weight: bold;
    color: #679cd3;
}

/* 
*   CAREER PAGE STYLES
*/
.career-section {
    max-width: 1800px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.career-section h3 {
    font-size: 36px;
    margin: 50px 0 30px 0;
    position: relative;
}
.career-section h3::before {
    content: '';
    position: absolute;
    width: 55px;
    height: 1px;
    left: 3px;
    bottom: -5px;
    border-bottom: 2px solid #679cd3;
}
.career-desc {
    font-size: 18px;
    margin-bottom: 50px;
}
.career {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 100px;
}
.job {
    border-left: 5px solid #232323;
    padding: 5px 0 15px 12px;
}
.job h4 {
    font-size: 18px;
    margin-bottom: 30px;
}
.job-desc {
    margin-bottom: 30px;
}
.full-job {
    width: 80%;
    margin: 0 auto;
}
.full-job ul {
    padding-left: 0;
}
.full-job .back-btn-li {
    list-style-type: none;
    margin-top: 1.5rem;
}
.full-job .back-btn {
    background-color: #232323;
    color: #fff;
    border: none;
    padding: 0.5em 1.5em;
    border-radius: 3px;
    cursor: pointer;
}

.full-job h2 {
    margin: 2rem 0 1.5rem 0;
}
.btn-flex {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.career-btn {
    background-color: #232323;
    color: #fff;
    border: none;
    padding: 0.5em 1.5em;
    border-radius: 3px;
    cursor: pointer;
}
.career-btn:hover,
.back-btn:hover,
.about-btn:hover,
input[type='submit']:hover {
    background-color: #3c3c3c;
    transition: all 0.4s;
}

/* 
*   ABOUT PAGE STYLES
*/
.about-company-section,
.about-aircraft-section {
    max-width: 1800px;
    width: 95%;
    margin: 0 auto;
}
.about-company-flex {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}
.about-company-info {
    width: 60%;
    padding: 10vh 10vw 10vh 2vw;
}
.about-company-info h3 {
    margin-bottom: 20px;
}
.about-company-info div {
    padding-left: 20px;
}
.about-btn {
    color: #fff;
    background-color: #232323;
    margin-top: 25px;
    text-align: center;
    float: right;
    border: none;
    padding: 10px 14px;
    border-radius: 3px;
    cursor: pointer;
}
.about-company-media {
    width: 500px;
}
.about-company-media > img,
.about-company-video > iframe {
    width: 100%;
}
.about-aircraft-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-aircraft-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.about-aircraft-carousel h2 {
    margin: 1.2rem 0;
}
.about-aircraft-carousel div {
    text-align: center;
    width: 90%;
    margin-bottom: 2rem;
}
.about-aircraft-interactive {
    width: 100%;
}

/* 
*   SERVICE PAGE STYLES
*/
.service-tabs {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    background: #eee;
}
.service-tabs div {
    width: 33.4%;
    padding: 30px 0;
}
.service-tabs * {
    text-align: center;
}
.service-tabs div:hover {
    cursor: pointer;
    background: #679cd3;
    transition: background 0.7s;
}
#service-display {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#service-display h3 {
    margin-bottom: 1rem;
}
#service-display div:nth-child(1) {
    width: 45%;
    padding: 150px 100px;
}
.services-capabilities {
    display: flex;
    justify-content: center;
}
.services-infographic {
    margin-bottom: 30px;
}
.services-capabilities div {
    width: 400px;
    margin: 0 50px;
    margin-bottom: 30px;
}
.services-capabilities h4,
.services-capabilities div img {
    margin-bottom: 0.8rem;
}
.services-capabilities div img {
    width: 100%;
    height: 200px;
}
/* 
*   CONTACT PAGE STYLES
*   To modify the React phone number component styles, do it within the component itself
*/
.contact-title {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    margin: 3rem 0 2.2rem 0;
    padding-bottom: 0.5rem;
}
.contact-title::before {
    content: '';
    position: absolute;
    width: 25%;
    height: 1px;
    bottom: 0;
    border-bottom: 2px solid #679cd3;
}
form {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 4rem;
}
.form-container {
    background: #fff;
    -webkit-box-shadow: 1px 5px 50px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 5px 50px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 5px 50px 2px rgba(0, 0, 0, 0.5);
    padding: 25px 40px 40px 25px;
}
.form-group {
    display: flex;
    margin-bottom: 1.6rem;
}
.form-group label {
    flex: 1;
}
.form-group select,
.form-group input,
.form-group textarea {
    flex: 2;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 10px;
    background-color: #f2f5f7;
    border-radius: 3px;
    border: none;
    resize: vertical;
}
.submit-container {
    display: flex;
    justify-content: flex-end;
}
input[type='submit'] {
    text-align: center;
    width: 120px;
    font-size: 1.375rem;
    font-family: 'Muli', sans-serif;
    background-color: #303030;
    color: white;
    padding: 10px 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
/* 
*   FOOTER STYLES
*/
footer {
    color: #fff;
    background-color: #232323;
    padding: 50px 0 20px 0;
}
.footer {
    max-width: 1800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.footer-title {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.footer-title h2,
.footer-title h3 {
    text-align: center;
    margin: 0.7rem 0;
}
.footer h2 {
    font-size: 1.2rem;
    font-weight: normal;
}
.footer h3 {
    font-size: 1.7rem;
}
.footer h4 {
    font-size: 1.12rem;
    font-weight: normal;
}
.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-grid div {
    padding: 10px 30px;
}
.footer-grid .footer-excerpt-1 h4 {
    margin-bottom: 1rem;
}
.footer-grid .footer-excerpt-2 {
    padding-top: 20px;
    border-left: 2px #fff dotted;
    border-right: 2px #fff dotted;
}
.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-social .social-media-icons {
    width: 375px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.social-media-icons a {
    font-size: 4.6rem;
    color: #fff;
}
.social-media-icons .youtube:hover {
    color: #ff0000;
    transition: color 0.6s;
}
.social-media-icons .twitter:hover {
    color: #38a1f3;
    transition: color 0.6s;
}
.social-media-icons .facebook:hover {
    color: #4267b2;
    transition: color 0.6s;
}
.footer .copyright {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 2rem;
}

@media only screen and (max-width: 1280px) {
    /* ABOUT */
    .about-company-section,
    .about-aircraft-section {
        width: 100%;
    }
    .about-aircraft-section {
        grid-template-columns: 1fr;
    }
    .about-aircraft-carousel,
    .about-aircraft-interactive {
        width: 100%;
        margin: 0 auto;
    }
    .about-aircraft-carousel {
        padding: 10px 20px;
    }
    /* CAREER */
    .career {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
    }
    /* SERVICES */
    #service-display div:nth-child(1) {
        padding: 150px 50px;
    }
    /* FOOTER */
    .footer-grid {
        grid-template-columns: 1fr 1fr;
    }
    .footer-grid .footer-excerpt-2 {
        border-right: none;
    }
    .footer-grid .footer-social {
        margin-top: 1.2rem;
        grid-column-start: 1;
        grid-column-end: -1;
    }
}

@media only screen and (max-width: 1000px) {
    /* NAVIGATION */
    .bar {
        display: block;
        font-size: 2.6rem;
        color: #fff;
        margin-top: 10px;
    }
    .bar:hover {
        cursor: pointer;
    }
    .logo-container {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .main-nav {
        height: 100vh;
    }
    .main-nav.hide {
        height: initial;
    }
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0;
    }
    .nav-items {
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    .nav-items.hide {
        display: none;
    }
    .nav-items li {
        width: 100%;
        margin: 0;
        margin: 40px;
        text-align: center;
    }
    .nav-items li a {
        padding: 20px 150px;
    }
    .nav-items li .active {
        border: none;
        background: #303030;
        color: #679cd3;
        transition: all 0.5s;
    }
    /* HOME */
    .section-flex {
        flex-direction: column;
        justify-content: center;
    }
    .section-flex .section-content {
        width: 80%;
        margin: 15px 0;
    }
    .section-flex .section-img {
        width: 75%;
    }
    /* CAREER */
    .career {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
    .career-btn {
        width: 100%;
        padding: 1em 0;
        text-align: center;
    }
    /* ABOUT */
    .about-company-flex {
        flex-direction: column;
    }
    .about-company-info {
        width: 95%;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 20px;
    }
    .about-company-media {
        margin: 0 auto;
    }
    .about-btn {
        width: 30%;
    }
    /* SERVICES */
    #service-display {
        flex-direction: column;
        align-items: center;
    }
    #service-display div:nth-child(1) {
        width: 100%;
        padding: 30px;
    }
    #service-display div:nth-child(2),
    #service-display iframe {
        width: 100%;
    }
    .services-capabilities {
        flex-direction: column;
        align-items: center;
    }
    /* CONTACT */
    .contact-title {
        margin-left: 0.5rem;
    }
    form {
        width: 100%;
        margin-bottom: 3rem;
    }
    /* FOOTER */
    .footer-grid div {
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 550px) {
    /* HEADER */
    .header-inner {
        width: 90%;
        margin: 0 auto;
    }
    /* HOME */
    .section-flex .section-content {
        width: 100%;
    }
    .section-flex .section-img {
        width: 100%;
    }
    /* CAREER */
    .career {
        grid-template-columns: 1fr;
    }
    /* ABOUT */
    .about-btn {
        width: 100%;
        padding: 1.2em 0;
    }
    .about-company-media {
        width: 100%;
    }
    /* SERVICES */
    .service-tabs div {
        padding: 30px;
    }
    .service-tabs div > h2 {
        display: none;
    }
    .service-tabs div > img {
        width: 40px;
        height: 40px;
    }
    #service-display div:nth-child(1) {
        padding: 20px;
    }
    .services-capabilities div {
        padding: 10px;
        width: 100%;
    }
    .services-capabilities div p {
        padding: 5px;
    }
    /* CONTACT */
    form {
        margin-bottom: 1.5rem;
    }
    .form-container {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding: 0;
    }
    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.6rem;
    }
    .form-group label {
        margin-bottom: 0.6rem;
    }
    .form-group select,
    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 10px;
        background-color: #f2f5f7;
        border-radius: 3px;
        border: none;
        resize: vertical;
    }
    /* FOOTER */
    .footer-grid {
        grid-template-columns: 1fr;
    }
    .footer-grid .footer-excerpt-2 {
        border-left: none;
    }
    .footer-social .social-media-icons {
        width: 85%;
        margin: 0 auto;
        justify-content: space-evenly;
    }
}
